@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-backgroundDefault: 0 , 0, 0;
  --color-textPrimary: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
  }
} */ 

body {
  color: rgb(var(--color-textPrimary));
  background: rgb(var(--color-backgroundDefault));
  
  min-height: 100dvh;
  font-family: var(--font-inter); 
}

a {
  text-decoration: underline;
  transition: opacity 0.1s ease-in-out;
}
a:hover {
  opacity: 0.9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-chulapa);
} 